{% extends 'base.html.twig' %} {% block title %}Hello ClubController!{% endblock
%} {% block body %}
<h1>Clubs Esprit</h1>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt autem
    deserunt, repellat ea quos a numquam perspiciatis ex minus atque labore,
    facilis ducimus nam, laborum qui rem! Illo, rem! Minima.
</p>

<img src="{{ asset('logo-esprit.png') }}" alt="logo esprit">

{% endblock %}
